section.topber {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    color: gray;
}

.topber-left {
    display: flex;
    margin-left: 20px;
}

.topber-left time {
    margin-left: 20px;
}

.topber-left .time {
    margin-left: 20px;
}

.topber-left i {
    margin-right: 10px;
}

.topber-right {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.topber-right .ficon a {
    color: #c57820;
    padding: 10px;
    background-color: white;
}

.call {
    margin-right: 20px;
    text-align: center;
}

.call i {
    margin-right: 10px;
    font-size: 14px;
}
section.navber {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

.navber-left {
    font-size: 23px;
    color: #c57820;
    margin-left: 20px;
}

.nav-right {
    display: flex;
    margin-left:530px;
}

.navber .btn a {
    display: flex;
    text-decoration: none;
    background-color: #c57820;
    padding: 24px 48px;
    color: white;
    align-items: center;
    font-size: 20px;
}
.navber .btn a:hover {
background-color: #e7a457;

}
section.navber {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}

.btn i {
    margin-left: 12px;
    margin-top: 4px;
   
}

.nav-right a {
    text-decoration: none;
    margin: 10px; 
     color: black;
     font-size: 17px;
}
.page {
    position: relative;
}



.page-item {
    position: absolute;
    background-color: white;
  visibility: hidden;
  border-radius: 5px;
  top: 150%;
}

.page a {
    display: flex;
    font-size: 17px;
    align-items: center;
}


.page:hover .page-item {
    visibility: visible;
    transition: .5s;
    top: 100%;
    
}
.page i{
    margin-left: 5px;
font-size: 11px;
}
.nav-right a:hover {color: #c57820;
}
section.hero img {
    position: relative;
    width: 1467px;
}

.text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: -38%;
    margin-left: 20%;
    width: 880px;
    background: rgb(60, 60, 60, 0.2);
}

.text h1 {
    font-size: 64px;
    text-align: center;
    margin-top: 0px;
}

.text p {
    text-align: center;
    font-size: 25px;
    margin-top: -40px;
}

.text h3 {
    font-size: 30px;
    margin: 0px;
}

section.hero .btn {
    display: flex;
    margin-top: 20px;
}

.btn .btn1 {
    color: white;
    margin-right: 20px;
}

.btn1 a {
    color: white;
    font-size: 20px;
    background-color: #c57820;
    padding: 16px 48px;
    text-decoration: none;
}

.btn2 a {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 16px 48px;
    text-decoration: none;
}
section.feature {margin-top: 34px;}

.feature-all {
    display: flex;
    /* width: 1320px; */
    align-items: center;
    justify-content: center;
    margin-left: 66px;
}

.feature-all {}

.icon-all {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.icon-all .icon i {color:  #c57820;
    font-size: 32px;
    background-color:#F5F5F5;
     PADDING: 12PX;}

.icon P {
    FONT-SIZE: 20PX;
    FONT-WEIGHT: BOLD;
}

.icon {
    margin-right: 50px;
}

.icon-all h1 {font-size: 80px;color: #F5f5F5;}
.about {
    display: flex;
    margin-top: 14px;
}

.about-left {
}

.about-left img {
    width: 740px;
    height: 535px;
}

.about-right {
    padding: 50px;
    background-color: #F5F5F5;
    margin-bottom: 4px;
 
}

.about-us {}

.about-us h1 {
    font-size: 48px;
}

.about-us p {
    font-size: 20px;
}

.happy-all {}

.happy-all {
    display: flex;
    justify-content: space-between;
}

.happy {}

.happy {
    display: flex;
    align-items: center;
}

.happy i {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 35px;
    color: #c57820;
    background-color: white;
    padding: 12px;
    width: 40px;
    margin-right: 20px;

}

.happy h2 {
    font-size: 32px;
    color: #c57820;
    margin-top: 20px;
    margin-right: -57px;
}

.happy p {
    font-size: 18px;
    font-weight: bold;
}

.happy {
    margin-right: 90px;
    display: flex;
    align-items: center;
}

.happy div {
    line-height: .5;
    padding: -1px 0px;
    
}

.about-right .btn a {
    background-color: #c57820;
    padding: 20px 45px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.about-right .btn {
    margin-top: 45px;
}
.our-service h1 {
    font-size: 48px;
    text-align: center;
}

.service-row {
    display: flex; 
    justify-content: center;
}

.service-row .card img {
    width: 409px;
}

.service-row .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 5px solid #dee2e6; */
    margin-right: 25px;
    margin-bottom: 20px;
}
.service-row .card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #e7e6e6;
    width: 400px;
}

.service-row .card div h3 {
    font-size: 24px;
    margin-bottom: 0px;
}
.service-row .card div p{
    font-size: 18px;
    text-align: center;
    width: 350px;
}
.service-row .card div a{
    font-size: 18px;
    text-decoration: none;
    color: #c57820;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
   
}
.service-row .card div a i{
    margin-left: 10px;
    margin-top: 5px;
}
.Our.project {
    /* display: flex; */
    /* justify-content: center; */
}.Our.project {}

.project-heading h1 {
    font-size: 48px;
    /* text-align: center; */
}

.project-heading a {
    font-size: 20px;
    text-decoration: none;
    margin-left: 15px; 
}

.project-heading {
    text-align: center;
    margin-bottom: 30px;
}

.project-row {
    display: flex;
    justify-content: center;

}

.project-row .card img {
    width: 407px;
}

.project-row .card {
    margin-right: 20px;
    margin-bottom: 20px;
}

.project-row .card div p {
    font-size: 20px;
    color: #c57820;
    margin-left: 20px;
}
.project-row .card div h4{ 
    font-size: 22px;
    margin-left: 20px;
    margin-top: 10px;

} 
.project-row .card div{
    border:5px solid #e7e6e6;
    width: 398px;
    margin-top: -10px;

}

.quote .img img {
    width: 740px;
    height: 650px;

}


.form-all p {width: 600px;font-size: 19px;}

.quote {
    display: flex;
    margin-top: 70px;
}


.form-all {
    background-color: #e7e6e6;
    width: 726px;
    height: 610px;
    padding-top: 40px;
    
}

.form-all h1 {
    font-size: 48px;
    margin-left: 41px;
}

.form-all p {width: 600px;font-size: 19px;margin-left: 41px;}

.form-all .form {
    margin-left: 30px;

}


.form input {
    width: 215px;
    padding: 16px 32px;
    font-size: 20px;
    border-style: none;
    margin: 10px;
    border-radius: 2px;
}

.form select {
    width: 279px;
    padding: 16px 20px;
    font-size: 19px;
    margin-left: 10px;
    border-style: none;
    border-radius: 3px;
}

textarea {
    min-width: 542px;
    font-size: 20px;
    margin-left: 41px;
    border-style: none;
    padding: 20px;
    magin-top: -10px;
}

.note {
    margin-top: 15px;
}

.form-btn a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.form-btn {
    background-color:#c57820;
    text-align: center;
    width: 546px;
    padding: 18px;
    margin-left: 41px;
    margin-top: 15px;

    
}

.form-btn:hover {
    background-color: #97560b;.team-card-all 
        display: flex;
        justify-content: center;
    }
    
.card1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 325px;
        position: relative;
    }
    
.card1 img {
        width: 300px;
    }
    
.team-icon {
        display: flex;
        flex-direction: column;
        background-color: white;
        position: absolute;
        margin-left: -324px;
        margin-top: -90px;
        visibility: hidden;
    }
    
.team-icon i {
        margin: 7px;
        color: #c57820;
    }
    
.card1:hover .team-icon {
        visibility: visible;
        margin-left: -274px;
        transition: .3s;
    }
    
.card1:hover img {
    
      width: 305px;
        transition: .5s
    }
    
    .team-card-all {
        display: flex;
        justify-content: center;
    }
    .Full {
        text-align: center;
        border: 5px solid #dddddd;
        width: 291px;
        margin-top: 0px;
    }
    
    .Full h4 {
        font-size: 20px;
    }
    
    .Full p {
        font-size: 18px;
        margin-top: -19px;
    }
    .Full {
        text-align: center;
        border: 5px solid #dddddd;
        width: 291px;
        margin-top: 0px;
        border-top: none;
    }
    
    .Full h4 {
        font-size: 20px;
    }
    
    .Full p {
        font-size: 18px;
        margin-top: -19px;
    }
    
    .-container h1 {
        font-size: 48px;
        text-align: center;
    }
    
    .-container {}
    
    .-container {
        margin-top: 70px;
    }
    
    .testimonial {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .testimonial h1 {
        font-size: 48px;
    }
    
    .testimonial img {
        border: 5px solid #e7e7e6;
        padding: 5px;
    }
    
    .testimonial .client {
        text-align: center;
        width: 635px;
        font-size: 20px;
        border: 5px solid #e0e0e0;
        margin-top: 20px;
    }
    
    .testimonial {margin-top: 50px;}
  
.footer {
    display: flex;
    background-color: #2b1b06;
    color: white;
    justify-content: space-around;
    margin-top: 45px;
}

.footer-item h3 {
    font-size: 25px;
}

.footer-item {
    padding: 20px;
}

.footer-item a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-item p {
    width: 222px;
    font-size: 18px;
}

.footer-item i {
    margin-right: 7px;
}

.footer-icon i {
    border: 1px solid aliceblue;
    padding: 10px;
}

.footer-item input {
    width: 212px;
    padding: 15px;
    font-size: 17px;
    position: relative;
}

.footer-item form a {
    background-color: #c57520;
    display: inline;
    padding: 14px;
    font-size: 18px;
    position: absolute;
    margin-left: -91px;
    margin-top: 3px;
}
.copyright {
        display: flex;
align-items: center;
justify-content: space-between;
border-top: 1px solid snow;
color: white;
width: 1000px;

}

.copyright a{
    text-decoration: none;
    color: white;

}

section.Copyright {
    background-color: #2b1b06;
    display: flex;
    justify-content: center;}